<div class="flex flex-col flex-auto min-w-0 ">
  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-4 sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-8">
        <div class="flex-1 min-w-0">
          <!-- Breadcrumbs -->
          <div>
            <div class="hidden sm:flex flex-wrap items-center font-medium">
              <div>
                <a class="whitespace-nowrap text-primary-500">Inicio</a>
              </div>
              <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                <a class="ml-1 text-primary-500">Cadastro de Proposta de Lance do Leilão</a>
              </div>
            </div>
            <div class="flex sm:hidden">
              <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                <span class="ml-1">voltar</span>
              </a>
            </div>
          </div>
          <!-- Title -->
          <div class="mt-2">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
              Cadastro de Proposta de Lance do Leilão
            </h2>
          </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-2 sm:mt-0">
          <!-- Search -->
          <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                  <mat-icon
                      class="icon-size-5"
                      matPrefix
                      [svgIcon]="'heroicons_solid:search'"></mat-icon>
                  <input
                      matInput
                      [formControl]=""
                      [autocomplete]="'off'"
                      [placeholder]="'Search products'">
              </mat-form-field> -->
          <!-- Add product button -->

          <button mat-flat-button [color]="'primary'" (click)="listaEditais()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Lista de Editais</span>
          </button>
        </div>
      </div>
    </div>

    <div class="body table-responsive flex flex-col w-full max-w-screen-xl mx-auto px-4 sm:px-8">
      <div class="col-12 p-0">
        <div style="float: left;">
          <span><b>Nº do Processo: {{edital?.numero}}</b>
          </span>
        </div>
      </div>
      <h1>{{edital?.titulo}}</h1>
      <div class="box -radius-all">
        <div class="media">
          <div class="media__item">
            <mat-icon>alarm</mat-icon>
          </div>
          <div class="media__body -align-center">
            <p class="t-body -size-m h-m0">
              Edital Aberto
            </p>
          </div>
        </div>
      </div>
      <div class="dataInfoBlock">
        <div class="dataInnerBlock1">
          <p><b>Empresa CNPJ:</b>{{edital?.empresa?.cnpj}}</p>
          <p><b>Empresa de Compra:</b>{{edital?.empresa?.razaoSocial}}</p>
          <p><b>Municipio/UF:</b>{{edital?.endereco?.cidade}}/{{edital?.endereco?.estado}}</p>
          <p><b>Data de inicio:</b>{{edital?.dataInicio | date : 'dd/MM/yyyy hh:mm'}}</p>
          <p><b>Data Fim:</b>{{edital?.dataFim | date : 'dd/MM/yyyy hh:mm'}}</p>
          <hr>
        </div>
      </div>

    </div>

  </div>

  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto">
      <div class=" card-body mt-4">

        <!-- Table -->
        <div class="body table-responsive flex flex-col w-full max-w-screen-xl mx-auto">
          <h3 class="h3TitleBlue divisor">
            Lista das Lances
          </h3>
          <table class="table text-center" *ngIf="sales; else
          loadingError">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME USUARIO</th>
                <th>EDITAL</th>
                <th>VALOR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of sales |
                  paginate: { itemsPerPage: size,
                  currentPage: page,
                  totalItems: totalElements }">
                <td><span class="text-muted"> {{
                    sale?.id }}</span></td>
                <td><span class="text-muted"> {{
                    sale?.usuario?.username }}</span></td>
                <td><span class="text-muted"> {{
                    sale?.edital?.numero }}</span></td>
                <td><span class="text-muted"> {{
                    sale?.valorLance }}</span></td>
              </tr>
            </tbody>
          </table>
          <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
              Erro ao carregar as Regioes. Tente novamente mais
              tarde.
            </div>
            <ng-template #loading>
              <div class="card-body">
                <div class="row py-3 align-items-center">
                  <div class="col-sm-9">
                    <h4 class="mb-0">Carregando
                      Lances...</h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>
        <!-- Table -->
        <div class="body table-responsive flex flex-col w-full max-w-screen-xl mx-auto">
          <h3 class="h3TitleBlue divisor">
            Lista dos Produtos
          </h3>
          <table class="table text-center" *ngIf="edital?.itens; else
            loadingError">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CATEGORIA</th>
                <th>MARCA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of edital?.itens |
                    paginate: { itemsPerPage: size,
                    currentPage: page,
                    totalItems: totalElements }">
                <td><span class="text-muted"> {{
                    item?.produto?.id }}</span></td>
                <td><span class="text-muted"> {{
                    item?.produto?.nome }}</span></td>
                <td><span class="text-muted"> {{
                    item?.produto?.categoriaProduto?.nomeDesc }}</span></td>
                <td><span class="text-muted"> {{
                    item?.produto?.marcaProduto?.nomeDesc }}</span></td>
              </tr>
            </tbody>
          </table>
          <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
              Erro ao carregar produtos. Tente novamente mais
              tarde.
            </div>
            <ng-template #loading>
              <div class="card-body">
                <div class="row py-3 align-items-center">
                  <div class="col-sm-9">
                    <h4 class="mb-0">Carregando
                      produtos...</h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>

        <!-- Table -->
        <div class="body table-responsive flex flex-col w-full max-w-screen-xl mx-auto">
          <h3 class="h3TitleBlue divisor">
            Lista das Formas de Pagamento
          </h3>
          <table class="table text-center" *ngIf="edital?.formasPagamento; else
            loadingError">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DESCRICAO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of edital?.formasPagamento |
                    paginate: { itemsPerPage: size,
                    currentPage: page,
                    totalItems: totalElements }">
                <td><span class="text-muted"> {{
                    item?.id }}</span></td>
                <td><span class="text-muted"> {{
                    item?.nome }}</span></td>
                <td><span class="text-muted"> {{
                    item?.descricao }}</span></td>
              </tr>
            </tbody>
          </table>
          <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
              Erro ao carregar as formas de pagamento. Tente novamente mais
              tarde.
            </div>
            <ng-template #loading>
              <div class="card-body">
                <div class="row py-3 align-items-center">
                  <div class="col-sm-9">
                    <h4 class="mb-0">Carregando
                      formas de pagamento...</h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>

        <!-- Table -->
        <div class="body table-responsive flex flex-col w-full max-w-screen-xl mx-auto">
          <h3 class="h3TitleBlue divisor">
            Lista das Regioes
          </h3>
          <table class="table text-center" *ngIf="edital?.regioes; else
            loadingError">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DESCRICAO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of edital?.regioes |
                    paginate: { itemsPerPage: size,
                    currentPage: page,
                    totalItems: totalElements }">
                <td><span class="text-muted"> {{
                    item?.id }}</span></td>
                <td><span class="text-muted"> {{
                    item?.nome }}</span></td>
                <td><span class="text-muted"> {{
                    item?.descricao }}</span></td>
              </tr>
            </tbody>
          </table>
          <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
              Erro ao carregar as Regioes. Tente novamente mais
              tarde.
            </div>
            <ng-template #loading>
              <div class="card-body">
                <div class="row py-3 align-items-center">
                  <div class="col-sm-9">
                    <h4 class="mb-0">Carregando
                      formas de Regioes...</h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>


      </div>
    </div>
  </div>
</div>