<!-- <nav id="navbar-main" style="background-color: #1e1e1e; padding: 10px;">
    <div class="container">
        <b style="font-size: 12px; color: #FFF;" class="ml-2">CENTRAL DE ATENDIMENTO 9999-99999 | 9999-9999</b><a href="#"><mat-icon>facebook</mat-icon></a>
    </div>
</nav> -->
<nav id="navbar-main" class=" navbar navbar-horizontal navbar-main navbar-expand-lg navbar-light">
    <!-- <nav
    class="navbar navbar-top navbar-expand navbar-dark bg-danger border-bottom"
    id="navbar-main"
  > -->
    <div class="container">
        <!-- <div>
        <mat-icon svgIcon="heroicons_solid:user-group"></mat-icon>
        <b style="font-size: 22px;" class="ml-2">Merdado & Negocios</b>
    </div> -->
        <a class="navbar-brand" [routerLink]="['/']">
            <!-- Merdado & Negocios -->
            <img src="../../../../assets/images/logo/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-custom-collapse collapse" id="collapseBasic" [collapse]="isCollapsed"
            id="navbarSupportedContent">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/']">
                            <img src="../../../../assets/images/logo/logo.png" />
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false"
                            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                            <span></span> <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/portal/pricing']"
            >
              <span class="nav-link-inner--text">Planos</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/portal/login']"
            >
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/portal/register']"
            >
              <span class="nav-link-inner--text">Registre-se</span>
            </a>
          </li> -->
            </ul>
            <!--          <hr class="d-lg-none"/>-->
            <!--Menu-->
            <ul [ngSwitch]="usuarioLogado()" class="navbar-nav align-items-lg-center ml-lg-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank"
                        data-toggle="tooltip" data-original-title="Like us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                        <span class="nav-link-inner&#45;&#45;text d-lg-none">Facebook</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial"
                        target="_blank" data-toggle="tooltip" data-original-title="Follow us on Instagram">
                        <i class="fab fa-instagram"></i>
                        <span class="nav-link-inner&#45;&#45;text d-lg-none">Instagram</span>
                    </a>
                </li> -->
                <li *ngSwitchCase="false" class="nav-item d-lg-block ml-lg-4">
                    <a class="btn btn-portal btn-icon" routerLinkActive="active" [routerLink]="['/sign-in']">
                        <span class="btn-inner--icon">
                            <!-- <i class="fas fa-shopping-cart mr-2"></i> -->
                            <!-- <mat-icon svgIcon="heroicons_solid:user"></mat-icon> -->
                        </span>
                        <span class="nav-link-inner--text">ACESSE SUA CONTA</span>
                    </a>
                </li>

                <li *ngSwitchCase="false" class="nav-item d-lg-block ml-lg-4">
                    <a class="btn bg-green btn-icon text-white" routerLinkActive="active" [routerLink]="['/sign-up']">
                        <span class="btn-inner--icon">
                            <!-- <i class="fas fa-shopping-cart mr-2"></i> -->
                            <!--              <i class="fas fa-sign-in-alt mr-2"></i>-->
                            <i class="far fa-user mr-2"></i>
                        </span>
                        <span class="nav-link-inner--text">CADASTRE-SE</span>
                    </a>
                </li>
                <!-- </ul> -->

                <!-- User -->
                <!-- <ul class="navbar-nav align-items-center ml-auto ml-md-0"> -->

                <li *ngSwitchCase="true" class="nav-item d-none d-lg-block ml-lg-4">
                    <a class="btn btn-portal btn-icon" routerLinkActive="active" (click)="onDashboard()">
                        <span class="btn-inner--icon">
                            <!-- <i class="fas fa-shopping-cart mr-2"></i> -->
                            <i class="fas fa-columns mr-2 text-white"></i>
                        </span>
                        <span class="nav-link-inner--text text-white">PAINEL</span>
                    </a>
                </li>

                <li *ngSwitchCase="true" class="nav-item dropdown" dropdown placement="bottom-right">
                    <a class="pr-0 dropdown-toggle" role="button" dropdownToggle>
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" src="assets/img/theme/team-4.jpg" />
                            </span>
                            <div class="media-body ml-2 d-lg-block">
                                <span class="mb-0 text-sm font-weight-bold"
                                    style="color: #1e1e1e !important;">{{user}}</span>
                            </div>
                            <a href="javascript:void()" (click)="logout()" class="sair">
                                <i class="ni ni-user-run"></i> <span>Sair</span>
                            </a>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow d-none dropdown-menu-right" *dropdownMenu>
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Bem Vindo!</h6>
                        </div>
                        <a routerLinkActive="active" (click)="onProfile()" class="dropdown-item">
                            <i class="ni ni-single-02"></i> <span>Minha Conta</span>
                        </a>
                        <!-- <a
                routerLinkActive="active"
                [routerLink]="['/user-profile']"
                class="dropdown-item"
              >
                <i class="ni ni-settings-gear-65"></i> <span>Settings</span>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['/user-profile']"
                class="dropdown-item"
              >
                <i class="ni ni-calendar-grid-58"></i> <span>Activity</span>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['/portal/user-profile']"
                class="dropdown-item"
              >
                <i class="ni ni-support-16"></i> <span>Support</span>
              </a> -->
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void()" (click)="logout()" class="dropdown-item">
                            <i class="ni ni-user-run"></i> <span>Sair</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">

    <!-- Header -->
    <div class="header bg-img pt-30 pb-30">
        <div class="container">
            <div class="header-body">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h2 style="color: #F7A625; margin-bottom: 40px; font-size: 18px;">Conheça a plataforma</h2>
                        <h1 class="display-2 text-white font-weight-bold mb-4" style="font-size: 32px;">
                            Sistema Mercado & Negócios
                        </h1>
                        <!-- <h2 class="display-5 text-white font-weight-light">
                                O sistema Mercado & Negócios chega no mercado brasileiro para auxiliar as empresas com seus processos de compra.
                            </h2> -->
                        <h2 class="text-white mt-0 bold font-weight-light" style="font-size: 18px;">
                            O sistema Mercado & Negócios chega no mercado brasileiro para auxiliar as empresas com seus
                            processos de compra, garantindo mais agilidade, transparência, competitividade, menor preço
                            nas aquisição de produtos.
                        </h2>
                    </div>
                    <div class="col-lg-12 col-md-12 mt-10">
                        <h2 style="font-size: 18px; color: #FFF;">Pesquisa de Processos</h2>
                        <form id="pesquisa-p" name="pesquisa-p" class="pesquisa-p" [formGroup]="searchForm">
                            <div class="input-block"><label for="filtro">Produto:</label> <input type="text"
                                    maxlength="255" id="objeto" name="objeto" placeholder="Termo ou palavra-passe">
                            </div>
                            <div class="input-block min"><label for="processo">Edital:</label> <input
                                    formControlName="numerocontrol" type="text" maxlength="40" id="processo"
                                    name="processo" placeholder="Número do Edital"></div>
                            <div class="input-block min"><label for="orgao">Empresa:</label> <input type="text"
                                    maxlength="100" id="orgao" name="orgao" placeholder="Nome do Comprador"></div>

                            <button class="btn-pesquisa-p second" (click)="onSearch()">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->
    </div>

    <section class="container-fluid resultado-pesquisa">
        <div class="container">
            <h1>Lista de Editais</h1>
            <p class="mb-10">Utilize a busca e filtros para localizar processos do seu interesse.</p>
            <div class="lista-processos" *ngIf="notices; else loadingError">
                <div class="item" *ngFor="let edital of notices |
                paginate: { itemsPerPage: size,
                currentPage: page,
                totalItems: totalElements }">
                    <div class="main-item">
                        <h2>
                            <span style="color: rgb(0, 96, 108); font-weight: bold;">
                                {{edital?.numero }}
                            </span> <a href="javascript:void(0)" (click)="onEdit(edital.id)" title="">{{
                                edital?.titulo }}</a>
                        </h2>
                        <div class="info">
                            <span>
                                <mat-icon>date_range</mat-icon>
                                <!-- <i class="ico-cp cp-calendario verde">&nbsp;</i> -->
                                <p>De: {{ edital?.dataInicio | date : 'dd/MM/yyyy' }}</p>

                            </span>

                            <span>
                                <mat-icon>date_range</mat-icon>
                                <!-- <i class="ico-cp cp-calendario verde">&nbsp;</i> -->
                                <p> Até: {{ edital?.dataFim | date : 'dd/MM/yyyy' }}</p>

                            </span>
                            <span>
                                <mat-icon>pan_tool</mat-icon>
                                <!-- <i class="ico-cp cp-martelo verde">&nbsp;</i> -->
                                <p>Credenciamento</p>
                            </span>

                            <span>
                                <!-- <i class="ico-cp cp-pin-mapa verde">&nbsp;</i> -->
                                <mat-icon>work</mat-icon>
                                <p>{{edital?.empresa?.razaoSocial }}</p>
                            </span>
                        </div>
                    </div>
                    <div class="aside-item">
                        <div class="info-processo">
                            <p class="recebendo">
                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M23.25 12H26.5C27.6046 12 28.5 12.8954 28.5 14V29.5C28.5 30.6046 27.6046 31.5 26.5 31.5H9.5C8.39543 31.5 7.5 30.6046 7.5 29.5V14C7.5 12.8954 8.39543 12 9.5 12H12.75"
                                        stroke="#039B6C" stroke-width="1.8" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M18 25.5V4.5M18 25.5L12 19.5M18 25.5L24 19.5" stroke="#039B6C"
                                        stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <span>Recebendo Propostas</span>
                            </p>
                        </div> <a href="javascript:void(0)" (click)="onEdit(edital.id)" blank="" title=""
                            class="btn-default third">ACESSAR PROCESSO</a>
                    </div>
                </div>
            </div>

            <ng-template #loadingError>
                <div *ngIf="error$ | async; else loading">
                    Erro ao carregar editais. Tente novamente mais
                    tarde.
                </div>
                <ng-template #loading>
                    <div class="card-body">
                        <div class="row py-3 align-items-center">
                            <div class="col-sm-9">
                                <h4 class="mb-0">Carregando
                                    editais...</h4>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>

        <div class="py-4 text-center ngx-pagination">
            <pagination-controls previousLabel="Anterior" nextLabel="Próximo" responsive="true"
                (pageChange)="handlePageChange($event)">
            </pagination-controls>
        </div>
    </section>
    <!-- <section class="section section-lg pt-lg-0">
        <div class="container">
            <h1>Caracteristicas e Como funciona o Mercado de Negocios</h1>
            <p class="mb-10">Breve explicação sobre nossa plataforma.</p>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape bg-gradient-primary text-white rounded-circle mb-4">
                                        <mat-icon svgIcon="heroicons_solid:user-group"></mat-icon>
                                    </div>
                                    <h4 class="h2 text-primary text-uppercase">
                                        Fornecedor
                                    </h4>
                                    <p class="description mt-3">
                                        Pessoa Física interessada em fornecer produtos ou serviços licitados pelas
                                        entidades compradores.
                                    </p>
                                    <div>
                                        <span class="badge badge-pill badge-primary mr-1">bootstrap 4</span>
                                        <span class="badge badge-pill badge-primary mr-1">dashboard</span>
                                        <span class="badge badge-pill badge-primary">template</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape bg-gradient-success text-white rounded-circle mb-4">
                                        <mat-icon svgIcon="mat_solid:work"></mat-icon>
                                    </div>
                                    <h4 class="h2 text-success text-uppercase">
                                        Comprador
                                    </h4>
                                    <p class="description mt-3">
                                        Órgãos Públicos, Autarquias, Empresas Privadas, Fundações, com processos para a
                                        aquisição de bens e serviços.
                                    </p>
                                     <div>
                                        <span class="badge badge-pill badge-success mr-1">npm</span>
                                        <span class="badge badge-pill badge-success mr-1">gulp</span>
                                        <span class="badge badge-pill badge-success">build tools</span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape bg-gradient-warning text-white rounded-circle mb-4">
                                        <mat-icon svgIcon="mat_solid:checklist_rtl"></mat-icon>
                                    </div>
                                    <h4 class="h2 text-warning text-uppercase">
                                        Transparência
                                    </h4>
                                    <p class="description mt-3">
                                        Publicações e Negociações online de editais, que podem ser acompanhadas em tempo
                                        real por fornecedores e pela sociedade.
                                    </p>
                                    <div>
                                        <span class="badge badge-pill badge-warning mr-1">sass</span>
                                        <span class="badge badge-pill badge-warning mr-1">design</span>
                                        <span class="badge badge-pill badge-warning">customize</span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="py-6">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="assets/img/theme/landing-1.png" class="img-fluid" />
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h1>Transparência e Agilidade</h1>
                        <p>
                            Publicações e Negociações online de editais, que podem ser acompanhadas em tempo real por
                            fornecedores e pela sociedade.
                        </p>
                        <ul class="list-unstyled mt-5">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-settings-gear-65"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="mb-0">Carefully crafted components</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-html5"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="mb-0">Amazing page examples</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="ni ni-satisfied"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="mb-0">Super friendly support team</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-6">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6">
                    <img src="assets/img/theme/landing-2.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <div class="pr-md-5">
                        <h1>Example pages</h1>
                        <p>
                            If you want to get inspiration or just show something directly to
                            your clients, you can jump start your development with our
                            pre-built example pages.
                        </p>
                        <a [routerLink]="['/examples/profile']" class="font-weight-bold text-warning mt-5">Explore
                            pages</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-6">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="assets/img/theme/landing-3.png" class="img-fluid" />
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h1>Lovable widgets and cards</h1>
                        <p>
                            We love cards and everybody on the web seems to. We have gone
                            above and beyond with options for you to organise your
                            information. From cards designed for content, to pricing cards or
                            user profiles, you will have many options to choose from.
                        </p>
                        <a [routerLink]="['/widgets']" class="font-weight-bold text-info mt-5">Explore widgets</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <section class="py-7">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="display-3">
                        Do you love this awesome
                        <span class="text-success">Dashboard for Bootstrap 4?</span>
                    </h2>
                    <p class="lead">
                        Cause if you do, it can be yours now. Hit the button below to
                        navigate to get the free version or purchase a license for your next
                        project. Build a new web app or give an old Bootstrap project a new
                        look!
                    </p>
                    <div class="btn-wrapper">
                        <a href="https://www.creative-tim.com/product/argon-dashboard-angular?ref=adpa-presentation-page"
                            class="btn btn-neutral mb-3 mb-sm-0" target="_blank">
                            <span class="btn-inner--text">Get FREE version</span>
                        </a>
                        <a href="https://www.creative-tim.com/product/argon-dashboard-pro-angular?ref=adpa-presentation-page"
                            class="btn btn-primary btn-icon mb-3 mb-sm-0">
                            <span class="btn-inner--icon"><i class="ni ni-basket"></i></span>
                            <span class="btn-inner--text">Purchase now</span>
                            <span class="badge badge-md badge-pill badge-floating badge-danger border-white">$89</span>
                        </a>
                    </div>
                    <div class="text-center">
                        <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
                        <div class="row justify-content-center">
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/argon-dashboard-pro-angular?ref=adpa-presentation-page"
                                    target="_blank" tooltip="Angular - One framework. Mobile &amp; desktop">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href="https://www.creative-tim.com/product/argon-dashboard-pro?ref=adpa-presentation-page"
                                    target="_blank" tooltip="Bootstrap 4 - Most popular front-end component library">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg"
                                        class="img-fluid rounded-circle shadow shadow-lg--hover" />
                                </a>
                            </div>

                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/argon-dashboard-pro-react?ref=adpa-presentation-page"
                                    target="_blank" tooltip="React - A JavaScript library for building user interfaces">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/argon-dashboard-pro-laravel?ref=adpa-presentation-page"
                                    target="_blank" tooltip="Laravel - The PHP Framework For Web Artisans">
                                    <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/laravel_logo.png"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/argon-dashboard-pro-nodejs?ref=adpa-presentation-page"
                                    target="_blank"
                                    tooltip="Node.js - a JavaScript runtime built on Chrome's V8 JavaScript engine">
                                    <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/nodejs-logo.jpg"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/vue-argon-dashboard-pro?ref=adpa-presentation-page"
                                    target="_blank" tooltip="Vue.js - The progressive javascript framework">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.creative-tim.com/product/argon-dashboard-pro-angular?ref=adpa-presentation-page"
                                    target="_blank" tooltip="Sketch - Digital design toolkit">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg"
                                        class="img-fluid rounded-circle" />
                                </a>
                            </div>
                            <div class="my-2 col-3 col-md-2">
                                <a href=" https://www.adobe.com/products/photoshop.html?ref=adpa-presentation-page"
                                    target="_blank"
                                    tooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                                    <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg"
                                        class="img-fluid rounded-circle opacity-3" />
                                </a>
                            </div>
                        </div>
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>
<!-- Footer -->
<footer class="py-5 footer" id="footer-main">
    <section class="container-fluid main-foot">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-3">
                    <div class="copyright text-center text-xl-left text-muted">
                        <a href="#" class="font-weight-bold ml-1" target="_blank"
                            style="color: #FFF; font-size: 22px">Mercado & Negocios</a>
                        <div class="cta-foot">
                            <div class="social-block">
                                <a rel="canonical" href="#" title=""><i class="ico-cp cp-whatsapp branco">&nbsp;</i></a>
                                <a rel="canonical" href="#" title=""><i class="ico-cp cp-facebook branco">&nbsp;</i></a>
                                <a rel="canonical" href="#" title=""><i
                                        class="ico-cp cp-instagram branco">&nbsp;</i></a> <a rel="canonical" href="#"
                                    title=""><i class="ico-cp cp-linkedin branco">&nbsp;</i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-9">
                    <span class="info-foot"><strong>
                            CENTRAL DE ATENDIMENTO:
                        </strong><br>

                        Telefone: (91) 9999-9999
                        <br>
                        Dúvidas? sugestões sobre a plataforma? <br>
                        Entre em contato conosco através de nossos contatos exclusivos.<br>
                        Se você vende ou pretende vender ao governo e quer falar com a gente, envie um email para
                        vendedor@mercadoenegocios.com.br<br>
                        Se você é comprador envie um e-mail para comprador@mercadoenegocios.com.br<br>
                        De segunda a Sexta, exceto feriados, das 8hs às 18hs, horário de Brasília.<br>
                        Endereço<br>
                        &copy; {{ test | date: "yyyy" }} - Mercado e Negocios. Todos os direitos reservados.<br>
                    </span>
                </div>
            </div>
        </div>
    </section>
</footer>